doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/css/style.css")
        title Mon Blog
    body 
        h1 add post
        form(methode="post", action="/post/add") 
            input(type="text", name="name")
            input(type="text", name="titre")
            input(type="submit", value="add")