doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/css/style.css")
        title Mon Blog
    body 
        h1 Mon Blog 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea deleniti assumenda perspiciatis laboriosam ipsum, voluptatum natus enim non hic iste ut vitae molestiae illo quidem fuga delectus reiciendis dolorum praesentium?