doctype html
| PASTE YOUR HTML CODE HERE
head
    title login 
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap' rel='stylesheet')
    style(media='screen').
        *,
        *:before,
        *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        }
        body{
        background-color: #080710;
        }